<p>
    Nom: {{player.username}} <img src="https://content.hentaiheroes.com/pictures/misc/flags/{{player.country}}.png" width="16px" />
</p>
<table>
    <tr>
        <th>Date</th>
        <th>Niveau</th>
        <th>Mojo</th>
        <th>Combat PVP</th>
        <th>Combat PVE</th>
        <th>Argent</th>
        <th>Expérience</th>
        <th>Filles</th>
        <th>Stats harem</th>
        <th>Affection</th>
        <th>Niveau Harem</th>
    </tr>
    <tr *ngFor="let h of history">
        <td>{{h.date | date}}</td>
        <td>{{h.lvl}}</td>
        <td>{{h.victory_points_value | number}} ({{h.victory_points_rank | number}})</td>
        <td>{{h.pvp_wins_value | number}} ({{h.pvp_wins_rank | number}})</td>
        <td>{{h.troll_wins_value | number}} ({{h.troll_wins_rank | number}})</td>
        <td>{{h.soft_currency_value | number}} ({{h.soft_currency_rank | number}})</td>
        <td>{{h.experience_value | number}} ({{h.experience_rank | number}})</td>
        <td>{{h.girls_won_value | number}} ({{h.girls_won_rank | number}})</td>
        <td>{{h.stats_upgrade_value | number}} ({{h.stats_upgrade_rank | number}})</td>
        <td>{{h.girls_affection_value | number}} ({{h.girls_affection_rank | number}})</td>
        <td>{{h.harem_level_value | number}} ({{h.harem_level_rank | number}})</td>
    </tr>
</table>