<mat-toolbar color="primary">
    <nav>
        <a routerLink="/" mat-button><img src="https://content.hentaiheroes.com/pictures/design/profile.svg" />Hentai Heroes</a>
        <a routerLink="/players" mat-button>Joueurs</a>
        <a routerLink="/girls" mat-button>Filles</a>
    </nav>

    <span class="spacer"></span>

    <form (submit)="submit()">
        <mat-form-field floatPlaceholder="never">
            <input matInput type="search" name="search" [formControl]="searchControl" placeholder="Nom du joueur" [matAutocomplete]="auto"/>
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let player of players$ | async" [value]="player.id_player" (onSelectionChange)="selectPlayer(player.id_player)">{{player.username}}</mat-option>
        </mat-autocomplete>
    </form>
    <button mat-icon-button><mat-icon>search</mat-icon></button>



</mat-toolbar>

<div id="app">
    <router-outlet></router-outlet>
</div>